mixin select(data)
	select.select(id=data.name, class!=attributes.class, data-placeholder=data.placeholder, name=data.name)
		option(value="")

		- var n = 0;
			while n < 3
				- n++
				option(value=n) text 
					!=n

		option(selected, value=data.selected)!=data.selected